@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-body ul {
  list-style-type: disc;
  padding-left: 1.5em;
  margin: 1em 0;
}
.markdown-body ol {
  list-style-type: decimal;
  padding-left: 1.5em;
  margin: 1em 0;
}
.markdown-body h1, .markdown-body h2, .markdown-body h3 {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.markdown-body p {
  margin-bottom: 0.75em;
}